#Item2CollectionRuler config file
#Mon Jul 21 11:26:38 BRT 2014
xml.path=C\:\\Users\\VitorSRodrigues\\Desktop\\teste.xml
csv.column=dc.description.affiliation[]
csv.out.path=C\:\\Users\\VitorSRodrigues\\Desktop\\teste_out.csv
csv.in.path=C\:\\Users\\VitorSRodrigues\\Desktop\\teste_in.csv
handle.default=a
